In [1]:
import pandas as pd
import glob
import os

# Creacion de taxis.parquet

Este archivo contiene el proceso llevado a cabo para la creacion del dataset de **taxis** que se empleara para el analisis. Estos datos fueron extraidos de la pagina oficial del NYC TLC

In [2]:
archivos_parquet = glob.glob(os.path.join('parquet/', 'yellow*.parquet'))

yellow_taxis = pd.concat([pd.read_parquet(archivo) for archivo in archivos_parquet])
yellow_taxis

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2,6.50,3.5,0.5,0.00,0.0,1.0,11.50,2.5,0.00
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1,14.20,1.0,0.5,2.00,0.0,1.0,21.20,2.5,0.00
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1,8.60,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.00
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1,5.10,1.0,0.5,1.00,0.0,1.0,11.10,2.5,0.00
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1,45.00,6.0,0.5,17.02,0.0,1.0,73.77,2.5,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979178,2,2024-08-31 23:22:27,2024-08-31 23:52:10,NaN,10.90,NaN,None,56,35,0,41.25,0.0,0.5,0.00,0.0,1.0,42.75,NaN,NaN
2979179,2,2024-08-31 23:46:00,2024-09-01 00:10:00,NaN,6.42,NaN,None,148,236,0,26.70,0.0,0.5,0.00,0.0,1.0,30.70,NaN,NaN
2979180,2,2024-08-31 23:41:20,2024-08-31 23:56:24,NaN,1.89,NaN,None,68,100,0,18.90,0.0,0.5,0.00,0.0,1.0,22.90,NaN,NaN
2979181,2,2024-08-31 23:20:50,2024-08-31 23:35:33,NaN,6.02,NaN,None,231,141,0,29.13,0.0,0.5,0.00,0.0,1.0,33.13,NaN,NaN
2979182,1,2024-08-31 23:24:04,2024-08-31 23:36:45,NaN,1.90,NaN,None,114,224,0,13.54,0.0,0.5,0.00,0.0,1.0,17.54,NaN,NaN

In [11]:
yellow_taxis.to_parquet('yellow_taxis.parquet')

In [3]:
archivos_parquet = glob.glob(os.path.join('parquet/', 'green*.parquet'))
green_taxis = pd.concat([pd.read_parquet(archivo) for archivo in archivos_parquet])
green_taxis.rename(columns={'lpep_pickup_datetime':'tpep_pickup_datetime', 'lpep_dropoff_datetime':'tpep_dropoff_datetime'},inplace=True)
green_taxis

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,2023-09-01 00:08:04,2023-09-01 00:13:39,N,1.0,41,75,1.0,1.10,7.90,1.00,1.5,0.00,0.0,NaN,1.0,10.40,1.0,1.0,0.00
1,1,2023-09-01 00:30:44,2023-09-01 00:39:30,N,1.0,74,236,1.0,1.80,10.70,3.75,1.5,3.15,0.0,NaN,1.0,19.10,1.0,1.0,2.75
2,2,2023-09-01 00:14:39,2023-09-01 00:38:30,N,5.0,93,205,2.0,10.52,60.00,0.00,0.0,0.00,0.0,NaN,1.0,61.00,1.0,2.0,0.00
3,2,2023-09-01 00:35:48,2023-09-01 00:56:48,N,1.0,112,17,1.0,4.72,23.30,1.00,0.5,10.00,0.0,NaN,1.0,35.80,1.0,1.0,0.00
4,2,2023-09-01 00:32:03,2023-09-01 00:43:11,N,1.0,131,82,1.0,5.95,24.00,1.00,0.5,0.00,0.0,NaN,1.0,26.50,2.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51766,2,2024-08-31 20:58:00,2024-08-31 21:25:00,None,NaN,223,132,NaN,13.50,49.64,0.00,0.0,10.03,0.0,NaN,1.0,60.67,NaN,NaN,NaN
51767,2,2024-08-31 21:39:00,2024-08-31 21:56:00,None,NaN,129,7,NaN,1.78,17.86,0.00,0.0,3.00,0.0,NaN,1.0,21.86,NaN,NaN,NaN
51768,2,2024-08-31 22:59:00,2024-08-31 23:19:00,None,NaN,255,65,NaN,3.27,23.95,0.00,0.0,4.89,0.0,NaN,1.0,29.84,NaN,NaN,NaN
51769,2,2024-08-31 22:26:00,2024-08-31 22:42:00,None,NaN,244,41,NaN,2.50,20.09,0.00,0.0,0.00,0.0,NaN,1.0,21.09,NaN,NaN,NaN
51770,1,2024-08-31 23:28:00,2024-08-31 23:42:08,None,NaN,74,151,NaN,2.20,13.50,1.00,0.5,0.80,0.0,NaN,1.0,16.80,NaN,NaN,NaN

In [12]:
green_taxis.to_parquet('green_taxis.parquet')

In [4]:
yellow_taxis['type']='yellow'
green_taxis['type']='green'

In [5]:
taxis = pd.concat([yellow_taxis,green_taxis], ignore_index=True)
taxis

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,type,ehail_fee,trip_type
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2.0,...,0.5,0.00,0.0,1.0,11.50,2.5,0.00,yellow,NaN,NaN
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1.0,...,0.5,2.00,0.0,1.0,21.20,2.5,0.00,yellow,NaN,NaN
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1.0,...,0.5,2.00,0.0,1.0,15.60,2.5,0.00,yellow,NaN,NaN
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1.0,...,0.5,1.00,0.0,1.0,11.10,2.5,0.00,yellow,NaN,NaN
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1.0,...,0.5,17.02,0.0,1.0,73.77,2.5,1.75,yellow,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40176766,2,2024-08-31 20:58:00,2024-08-31 21:25:00,NaN,13.50,NaN,None,223,132,NaN,...,0.0,10.03,0.0,1.0,60.67,NaN,NaN,green,NaN,NaN
40176767,2,2024-08-31 21:39:00,2024-08-31 21:56:00,NaN,1.78,NaN,None,129,7,NaN,...,0.0,3.00,0.0,1.0,21.86,NaN,NaN,green,NaN,NaN
40176768,2,2024-08-31 22:59:00,2024-08-31 23:19:00,NaN,3.27,NaN,None,255,65,NaN,...,0.0,4.89,0.0,1.0,29.84,NaN,NaN,green,NaN,NaN
40176769,2,2024-08-31 22:26:00,2024-08-31 22:42:00,NaN,2.50,NaN,None,244,41,NaN,...,0.0,0.00,0.0,1.0,21.09,NaN,NaN,green,NaN,NaN
40176770,1,2024-08-31 23:28:00,2024-08-31 23:42:08,NaN,2.20,NaN,None,74,151,NaN,...,0.5,0.80,0.0,1.0,16.80,NaN,NaN,green,NaN,NaN

In [13]:
taxis.to_parquet('taxis.parquet')

In [ ]:
# El que mas comprime pero no sirve pa ni chimba
# taxis.to_parquet('taxis_brotli.parquet', engine='pyarrow', compression='brotli', compression_level=11)